/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  background-color: #F5EFE5; /* New background color */
  color: #242938; /* Primary text color */
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1; /* Ensures footer stays at the bottom */
  padding: 20px;
}
