/* src/components/Footer.css */
.site-footer {
    background-color: #242938; /* Matches header color */
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
  }
  