/* src/styles/AdminDashboard.css */

.admin-dashboard {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f5ca8;
    border: 2px solid #242938;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-dashboard h1 {
    color: #F5EFE5;
    margin-bottom: 20px;
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }
  
  .event-form label {
    font-weight: bold;
    color: #F5EFE5;
  }
  
  .event-form input,
  .event-form select,
  .event-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-form button {
    background-color: #242938;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-form button:hover {
    background-color: #1d212b;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  